Repository nmsmith22389/kicad-footprint-generator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fp-test, fp-generate-and-compare

Path conditions:
  fp-test: any of: gitlabci/**/*, .gitlab-ci.yml, src/**/*, KicadModTree/**/*, scripts/**/*
  fp-generate-and-compare: any of: gitlabci/**/*, .gitlab-ci.yml, src/**/*, KicadModTree/**/*, scripts/**/*, data/**/*

Inductor_SMD: Move AVX LMPLD to main generator
  data/Inductor_SMD/avx.yaml
  data/Inductor_SMD/avx_lmlpd.csv
  scripts/Inductor_SMD/Inductor_SMD.yaml
  scripts/Inductor_SMD/gen_inductor.py
  src/kilibs/declarative_defs/packages/smd_inductor_properties.py
Due: fp-test, fp-generate-and-compare

Add/update definition for JEITA_SOIC-16_3.9x9.9mm_P1.27mm (JEITA ED-7311-19, variation 16-001-ABA)
  3d-model-generators/GW_QFP_SOIC_SSOP_TSSOP_SOT/cq_parameters.yaml
  scripts/Packages/Package_Gullwing__QFP_SOIC_SO/size_definitions/soic.yaml
Due: fp-test, fp-generate-and-compare

Update definition for HTSSOP-16-1EP_4.4x5mm_P0.65mm_EP3.4x5mm_Mask2.46x2.31mm
  scripts/Packages/Package_Gullwing__QFP_SOIC_SO/size_definitions/lssop_tssop_vssop_wssop.yaml
Due: fp-test, fp-generate-and-compare

kilibs: Add is_defined() to BoundingBox
  src/kilibs/geom/bounding_box.py
Due: fp-test, fp-generate-and-compare

CourtyardBuilder: Minor fix so that NodeShapes are not added by accident to the courtyard because they are also GeomShape instances.
  KicadModTree/util/courtyard_builder.py
Due: fp-test, fp-generate-and-compare

kilibs: keepout: Fix a bug that occurs when a keepout is applied on a shape with two collinear and partially overlapping segments.
  src/kilibs/geom/tools/keepout.py
Due: fp-test, fp-generate-and-compare

KMT CourtyardBuilder: corrected typing and removed a typo
  KicadModTree/util/courtyard_builder.py
Due: fp-test, fp-generate-and-compare

Add generator configuration for Texas (TI) DSQ0010A (WSON-10) package.
  3d-model-generators/QFN_packages/cq_parameters.yaml
  scripts/Packages/Package_NoLead__DFN_QFN_LGA_SON/size_definitions/wson.yaml
Due: fp-test, fp-generate-and-compare

Fiducial: add a bit more clearance to account for DRC tolerance
  scripts/Fiducial/fiducial_gen.py
  scripts/Fiducial/fiducial_sizes.yaml
Due: fp-test, fp-generate-and-compare

Fiducial: minor static typing error reduction
  scripts/Fiducial/fiducial_gen.py
Due: fp-test, fp-generate-and-compare

KMT: allow custom pads to have rectangles and rectangles at an angle
  KicadModTree/serializer.py
Due: fp-test, fp-generate-and-compare

Fiducial: Rework cross-shaped fiducials as a first-class type
  scripts/Fiducial/fiducial_gen.py
  scripts/Fiducial/fiducial_sizes.yaml
Due: fp-test, fp-generate-and-compare

Fiducial: document fiducial pos file setting
  scripts/Fiducial/fiducial_gen.py
Due: fp-test, fp-generate-and-compare

3dgen: Button_Switch_Tactile and Button_Switch_Rotary 3D generator improvements
  3d-model-generators/Button_Switch_Rotary/cq_models/cq_rotary.py
  3d-model-generators/Button_Switch_Rotary/cq_parameters.yaml
  3d-model-generators/Button_Switch_Tactile/cq_models/cq_tactile.py
  3d-model-generators/Button_Switch_Tactile/cq_parameters.yaml
  3d-model-generators/Button_Switch_Tactile/main_generator.py
  3d-model-generators/_tools/utils/__init__.py
  3d-model-generators/_tools/utils/bodygen.py
  3d-model-generators/_tools/utils/features.py
  3d-model-generators/_tools/utils/pingen.py
  3d-model-generators/_tools/utils/shellgen.py
Due: none

Add configuration files for ucBGA-64 config for footprint and 3D model.
  3d-model-generators/BGA_packages/cq_parameters.yaml
  scripts/Packages/Package_BGA/size_definitions/bga.yaml
Due: fp-test, fp-generate-and-compare

Inductor_SMD: Refactor body type parameters
  3d-model-generators/Inductors_SMD/main_generator.py
  3d-model-generators/Inductors_SMD/src/make_coil_model.py
  data/Inductor_SMD/coilcraft.yaml
  scripts/Inductor_SMD/gen_inductor.py
  src/kilibs/declarative_defs/packages/smd_inductor_properties.py
Due: fp-test, fp-generate-and-compare

3D SMD inductor: break out model functions
  3d-model-generators/Inductors_SMD/main_generator.py
Due: none

Commit yaml files for csBGA-64 config for footprint and 3D model.
  3d-model-generators/BGA_packages/cq_parameters.yaml
  scripts/Packages/Package_BGA/size_definitions/bga.yaml
Due: fp-test, fp-generate-and-compare

3dgen Button_Switch_Tactile: Update SW_SPST_SKQG_WithStem - correct actuator_shell_hole_diameter
  3d-model-generators/Button_Switch_Tactile/cq_parameters.yaml
Due: none

3dgen Button_Switch_Tactile: Fix SW_Push_1P1T_NO_CK_KSC6xxG and SW_Push_1P1T_NO_CK_KSC6xxJ parameters
  3d-model-generators/Button_Switch_Tactile/cq_parameters.yaml
Due: none

3dgen Button_Switch_Tactile: Fix SW_Push_1P1T_NO_CK_KSC9xxG and add SW_Push_1P1T_NO_CK_KSC9xxJ
  3d-model-generators/Button_Switch_Tactile/cq_parameters.yaml
Due: none

3dgen Button_Switch_Tactile: SW_TH_Tactile_Omron_B3F-1xxx dimension fixes
  3d-model-generators/Button_Switch_Tactile/cq_parameters.yaml
Due: none

_tools/utils/features.py: Fix doctype spelling error: "workplain" -> "workplane"
  3d-model-generators/_tools/utils/features.py
Due: none

SW_SPST_SKQG_WithStem: Add radius to top of shell dome
  3d-model-generators/Button_Switch_Tactile/cq_models/cq_tactile.py
  3d-model-generators/Button_Switch_Tactile/cq_parameters.yaml
Due: none

ZIF DIP sockets: Add mm to the footprint names
  scripts/Socket/3M_Textool.py
Due: fp-test, fp-generate-and-compare

Add: Inductor_SMD: Changjiang FTC series
  data/Inductor_SMD/changjiang.yaml
  data/Inductor_SMD/changjiang_ftc.csv
Due: fp-generate-and-compare

Add connector generator for Molex KK Plus 250
  scripts/Connector/Connector_Molex/conn_molex_kk_plus_250_tht_top.py
Due: fp-test, fp-generate-and-compare

fix connector generator for Molex KK Plus 250
  scripts/Connector/Connector_Molex/conn_molex_kk_plus_250_tht_top.py
Due: fp-test, fp-generate-and-compare
